{% extends "network/layout.html" %}

{% block body %}
    <h2 class="heading">All Posts</h2>
    {% if user.is_authenticated %}
    <div class="new_post">
        <h5>New Post</h5>
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
           <input type="text" name="text" value="">
            <br>
            <input type="submit" />
        </form>
    </div>
    {% endif %}
    <div class="posts">
        {% for post in posts %}
        <div class="post">
            <div class="post__username">
                <strong><a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a></strong>
            </div>
            <div class="post__details">
                {% if user == post.user %}
                <p>Edit</p>
                {% endif %}
                <p>{{ post.text }}</p>
                <p>{{ post.timestamp }}</p>
                <p>{{ post.likes.count }}</p>
                <p>Comment</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}