{% extends "network/layout.html" %}

{% load custom_filters %}

{% block body %}
    <h2 class="heading">All Posts</h2>
    {% if user.is_authenticated %}
    <div class="new_post">
        <h5>New Post</h5>
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
           <input type="text" name="text" value="">
            <br>
            <input type="submit" />
        </form>
    </div>
    {% endif %}
    <div class="posts">
        {% for post in page_obj %}
        <div class="post">
            <div class="post__username">
                <strong><a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a></strong>
            </div>
            <div class="post__details" id="{{ post.id }}">
                {% if user == post.user %}
                <button onclick="editPost(post.id)">Edit</button>
                {% endif %}
                <form style="display: none;" action="{% url 'index' %}" method="post" class="edit_form">
                    <input type="hidden" name="editPostID" value="{{ post.id }}">
                    <input type="text" value="{{ post.text }}" name="edit">
                    <button onclick="cancelEdit(post.id)">Cancel</button>
                    <input type="submit" value="Edit">
                </form>
                <p>{{ post.text }}</p>
                <p>{{ post.timestamp }}</p>
                {% if user.is_authenticated %}
                <div class="like_box">
                    <form action="{% url 'index' %}" method="post">
                        {% csrf_token %}
                        {% if user|user_has_not_liked:post %}
                        <input type="hidden" value="{{ post.id }}" name="like">
                        <input type="submit" value="Like">
                        {% else %}
                        <input type="hidden" value="{{ post.id }}" name="unlike">
                        <input type="submit" value="Unlike">
                        {% endif %}
                    </form>
                    <p>
                        {{ post.likers.count }}
                    </p>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}