{% extends "network/layout.html" %}

{% load custom_filters %}

{% block body %}
<div class="profile">
    <div class="profile__details">
        <div class="profile__detailsUsername">
            <p>{{ profile.username }} &nbsp;</p>
        </div>
        <div class="profile__detailsFollowing">
            <p>{{ profile.followers.count }} followers &nbsp;</p>
            <p>{{ profile.following.count }} following &nbsp;</p>
        </div>
        <div class="profile__detailsAction">
            {% if user != profile %}
                {% if follow %}
                    <form action="{% url 'profile' profile.username %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" name="follow" value="Follow">
                    </form>
                {% else %}
                <form action="{% url 'profile' profile.username %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" name="unfollow" value="Unfollow">
                </form>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

<div class="posts">
{% for post in profile_posts %}
    <div class="post">
        <div class="post__username">
            <strong><a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a></strong>
        </div>
        <div class="post__details">
            <p>{{ post.text }}</p>
            {% if user == post.user %}
                <a href="{% url 'edit' post.id %}">Edit</a>
            {% endif %}
            <p>{{ post.timestamp }}</p>
            <div class="like_box">
                {% csrf_token %}
                {% if user|user_has_not_liked:post %}
                <button onclick="likePost(this, event)" data-postid="{{ post.id }}" data-liker="{{ user.username }}">Like</button>
                {% else %}
                <button onclick="unLikePost(this, event)" data-postid="{{ post.id }}" data-liker="{{ user.username }}">Unlike</button>
                {% endif %}
                <p class="like_count">
                    {{ post.likers.count }}
                </p>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}

<script>
</script>