{% extends "network/layout.html" %}

{% block body %}
<div class="profile">
    <div class="profile__details">
        <div class="profile__detailsUsername">
            <p>{{ profile.username }} &nbsp;</p>
        </div>
        <div class="profile__detailsFollowing">
            <p>{{ profile.followers.count }} followers &nbsp;</p>
            <p>{{ profile.following.count }} following &nbsp;</p>
        </div>
        <div class="profile__detailsAction">
            {% if user != profile %}
            <form action="{% url 'profile' profile.username %}" method="POST">
                {% csrf_token %}
                <input type="submit" name="follow" value="Follow">
            </form>
            {% endif %}
        </div>
    </div>
</div>

<div class="posts">
{% for post in profile.posts.all %}
    <div class="post">
        <div class="post__username">
            <strong><a href="{% url 'profile' post.user.username %}">{{ post.user.username }}</a></strong>
        </div>
        <div class="post__details">
            <p>Edit</p>
            <p>{{ post.text }}</p>
            <p>{{ post.timestamp }}</p>
            <p>{{ post.likes.count }}</p>
            <p>Comment</p>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}

<script>
</script>