.heading {
    margin: 10px;
}

.post {
    border: 1px solid lightgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new_post {
    border: 1px solid lightgray;
    padding: 10px;
}

.profile__detailsUsername {
    text-align: center;
}

.profile__detailsFollowing {
    display: flex;
    justify-content: center;
}

.like_box
{
    display: flex;
}

.like_count {
    margin: 10px
}