.heading {
    margin: 10px;
}

.post {
    border: 1px solid lightgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new_post {
    border: 1px solid lightgray;
    padding: 10px;
}